.portfolio-content {
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.4s;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}
.portfolio-content:hover {
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}
.portfolio-content:hover,
.portfolio-img {
  transform: scale(1.02);
}
.portfolio-img {
  width: 100%;
  transition: 0.4s;
}
.portfolio-data {
  padding: 1.5rem;
}
.portfolio-subtitle {
  color: var(--second-color-light);
  font-size: var(--normal-font-size);
  font-family: var(--text-font);
}
.portfolio-title {
  color: var(--fourth-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semibold);
  margin: var(--mb-2) 0;
}

@media screen and (min-width: 576px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .portfolio-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
