// .section-title, .section-subtitle {
//     text-align: center;
// }
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-data {
  text-align: center;
}
.title-box {
  display: inline-block;
  // max-height: 25rem;
  // border: 1px solid;
}
.section-title {
  z-index: 1;
}
.line {
  height: 50%;
  position: relative;
  background: var(--third-color);
  padding: 5px;
  bottom: -20px;
}

.about-description span {
  color: var(--first-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.about-number {
  font-size: 2rem;
  color: var(--second-color);
  display: block;
}

.about-img {
  justify-self: center;
  width: 220px;
  border-radius: 0.5rem;
}
