.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-data {
  text-align: center;
}
.about-description span {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
}
.about-number {
  font-size: 2rem;
  color: var(--tertiary-color);
  display: block;
}
.about-img {
  justify-self: center;
  width: 220px;
  border-radius: 0.5rem;
}

/* ========== Media Querys ==========*/
@media screen and (min-width: 576px) {
  .about-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .about-description {
    text-align: initial;
  }
  .about-img {
    width: 300px;
  }
}
