/* ========== Wokr Experiende Styles ==========*/
.work-container {
  row-gap: 2.5rem;
  text-align: left;
}
.work-content {
  border-left: 4px solid var(--dark-background);
  padding-left: 1rem;
}
.work-title {
  font-size: var(--h3-font-size);
  color: var(--second-color-light);
  margin-bottom: var(--mb-2);
  display: flex;
  align-items: center;
}
.work-title-icon {
  font-size: 1.5rem;
  color: var(--fourth-color);
  margin-right: var(--mb-1);
}

.work-box {
  // text-align: left;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  font-family: var(--text-font);
}

.work-area {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.work-icon,
.work-company {
  font-size: var(--smaller-font-size);
  color: var(--tertiary-color);
}

.work-icon {
  margin-right: var(--mb-1);
}

.work-company {
  display: block;
}

/* ========== Media Querys ==========*/
@media screen and (min-width: 576px) {
  .work-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .work-box {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .work-container {
    column-gap: 6rem;
  }
}
