.services-data {
  padding: 3rem;
  background-color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.4s;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}
.services-data:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 6px 8px rgba(123, 111, 113, 0.4);
}

.services-icon,
.services-title {
  margin-bottom: var(--mb-2);
}

.services-icon {
  font-size: 3rem;
  color: var(--fourth-color);
}

.services-title {
  color: var(--second-color);
  font-size: var(--h3-font-size);
  font-family: var(--text-font);
}

.services-description {
  color: var(--first-color-light);
  margin-bottom: var(--mb-4);
}

@media screen and (min-width: 576px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .services-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
