/*===== HERO =====*/
.hero {
    display: grid;
    text-align: left;
    // padding: 4em;
}
.intro-name {
    font-weight: 600;
}
.intro-text {
    font-family: 'Roboto Mono', monospace;
}
.hero-container {
    height: calc(100vh - 3rem);
    grid-template-rows: repeat(2, max-content);
    align-content: space-around;
    row-gap: 2rem;
} 
.hero-data {
    border-left: 4px solid var(--third-color);
    padding-left: 1.5rem    ;
    h1 {
        color: var(--first-color);
        font-size: 2rem;
        font-weight: 700;
    }
}
.buttons{
    display: flex;
    align-content: left;
    padding-top: 1rem;
}
.button {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    transition: 0.3s;   
}
.button-1 {
    background-color: #FFF;
    color: var(--first-color);
    border: 1px solid;
    border-color: var(--first-color);
    margin-right: 1rem;
}
.button-2 {
    background-color: var(--first-color);
    color: #FFF;
    border: 1px solid;
    border-color: var(--first-color);
}

.hero-design {
    display: none;
}
/* SCROLL BUTTON */
.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: rgba(123,111,113,0.7);
    border-radius: 0.5rem;
    transition: .4s;
}
.scrolltop:hover {
    background-color: var(--first-color);
}

.scrolltop .scrolltop-icon {
    font-size: 2rem;
    color: #FFF;
}

/* MEDIA QUERYS */
@media only screen and (min-width: 1050px){
    .hero {
        height: 90vh;
    }
    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: #211E1E;
        padding: 0;
        .hero-container {
            background: #FFF; 
            padding: 6em 8em 6em 4em; 
            text-align: left;
        }
    }
    .hero-data {
        margin: unset;
    }
    .hero-design {
        display: unset;
        margin-left: -50% ;
        margin-top: 15%;
        width: 90%;
    }
}

@media only screen and (min-width: 1250px){
    .hero .hero-data {
        padding: 6em 8em 6em 10em;
    }
}