.footer {
  background-color: var(--fourth-color);
  color: #fff;
  text-align: center;
}

.footer-container {
  padding: 3rem 0;
}

.footer-title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-semibold);
}

.footer-description {
  margin-bottom: var(--mb-3);
}

.footer-social {
  margin-bottom: var(--mb-6);
}

.footer-link {
  font-size: 1.4rem;
  color: var(--first-color);
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.footer-link:hover {
  color: #fff;
}

.footer-copy {
  font-size: var(--smaller-font-size);
  color: var(--second-color);
}
