img {
  // margin-top: 3rem;
  // padding: auto;
  width: 3rem;
  height: auto;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
  color: #fff;
}
/* ========== NAVBAR ===========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin-bottom: var(--mb-3);
}
.nav-link {
  color: #fff;
  transition: 0.3s;
}
.nav-toggle {
  background-color: var(--first-color);
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}
.nav-logo,
.nav-toggle {
  z-index: var(--z-fixed);
}

.nav-link:hover {
  color: var(--first-color-light);
}
.nav-toggle:hover {
  color: #fff;
}

/* ===== Scroll Button Styles ==== */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: rgba(123, 111, 113, 0.7);
  border-radius: 0.5rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  border: none;
  // visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color-light);
}

.scroll-icon {
  color: #fff;
  font-size: 1.25rem;
}

/**** Show Menu ****/
@media screen and (max-width: 768px) {
  .hide {
    // transition: 0.5s ease-in;
    // transition-delay: 0.6s;
    height: 100% !important;
    overflow: visible;
  }
  .nav-menu {
    position: fixed;
    top: var(--header-height);
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    padding-top: 1.5rem;
    text-align: center;
    background-color: var(--first-color);
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.4s ease-in-out;
    transition-delay: 0.6s;
    // border-radius: 0 0 1rem 1rem;
  }
  // .nav-menu {
  //   overflow: hidden;
  // }
}
